// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) MYiR 2023 - All Rights Reserved
 * Author: Alexhu <fan.hu@myirtech.com>
 */

#include "stm32mp135d-altair-mx-base.dts"
#include "stm32mp135d-altair-mx-pinctrl.dtsi"

#include <dt-bindings/soc/stm32mp-tzc400-macro.h>
#include <dt-bindings/soc/stm32mp13-tzc400.h>

/ {
	model = "Altair::Main Processor Unit of Avionics - UMi";
	compatible = "st,stm32mp135d-altair-mx", "st,stm32mp135";

	aliases {
		serial0 = &uart4;
		// serial1 = &usart1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@c0000000 {
		device_type = "memory";
		reg = <0xc0000000 0x20000000>;
	};

	reserved-memory {
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			optee_framebuffer: optee-framebuffer@dd000000 {
					/* Secure framebuffer memory */
					reg = <0xdd000000 0x1000000>;
					st,protreg = <TZC_REGION_S_RDWR 0>;
			};
	};

};


// uart4 is required, but unable to enable on STM32CubeMX
&uart4 {
        pinctrl-names = "default";
        pinctrl-0 = <&uart4_pins_a>;
        status = "okay";
};

&bsec {
	board_id: board_id@f0 {
		reg = <0xf0 0x4>;
		st,non-secure-otp;
	};
};

&saes {
        status = "okay";
};
